.home {
  padding-top: 16px;
  height: calc(100vh - 50px - 16px);
  // outline: 1px solid tomato;
  background-color: #b0b1b4;
  background-image: url(../../images/phoneBook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  @media screen and (min-width: 1200px) {
    background-image: url(../../images/phoneBook_desktop.jpg);
  }
}

.title {
  margin: 0;
  margin-bottom: 16px;
  color: azure;
  font-size: 36px;
}

.greeting {
  margin: 0;
  color: azure;
}
