.panel {
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px solid tomato; */
  padding: 12px;
}

.label {
  position: relative;

  display: flex;
  align-items: center;
  /* margin-left: 36px; */
}

.input {
  width: 240px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 32px;

  font-size: 16px;
  color: azure;
  background-color: #3a3b3d;
  outline: none;
}

.input:hover,
.input:focus {
  outline: 1px solid #2574db;
}

.searchPic {
  position: absolute;
  left: 8px;
  top: 6px;

  display: block;
  font-size: 20px;
}

.modalOpen {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  margin-left: 16px;

  font-size: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modalOpen:hover,
.modalOpen:focus {
  background-color: #3a3b3d;
}

.modalOpen:active svg {
  fill: #5db4fa;
}

.modalOpen svg {
  fill: #b0b1b4;
  fill: #5db4fa;
  fill: #c8c8c8;
}
