.Wrap {
  background-color: #18191b;
  background-image: url(../images/body_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: azure;
  font-size: 36px;

  margin: 12px 0;
}
