.container {
  width: 340px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* height: 99vh; */
  /* overflow-y: auto; */

  text-align: center;
  background-color: #242527;
}
